* {
  box-sizing: border-box;

}

#navigation {
  background: #fff;
  background-size: auto;
  background-repeat: no-repeat;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}



#portfolio {
  height: 100vh;
  width: 100%;
}

#header {
  font-size: 40px;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
  text-align: center;
}


#works {
  background:#ffffff;
  padding-top: 80px;
  height: 100%;
  width: auto;
}

#container {
  float: left;
  margin: 10px;
  display: block;
  width: 320px;
  height: 400px;
  /* background:#f2f2f2; */
  background: #000;
  border-radius: 20px;
  box-shadow: 5px 5px 20px #c0c0c0;
  /* background-image: url("img/Portfolio.png"); */
}

#view {
  padding: 1px 7px 2px;
  font-size: 12px;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  background: #fff;
  justify-content: center;
  align-items: center;
}

#container:hover {
    transform: scale(1.05);
    transition-duration: 1s;
}

li {
  margin-right: 20px;

}
li:hover {
  border-bottom: 3px solid #000000;
}

img {
  margin-left: 0px;
  margin-top: 0px;
  padding: 10px;
  width: 320px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 0 0 15px white inset;
}

.btn.btn-link.btn-block.btn-lg.d-block.arrow-btn {
  color: #fff;
}


#wrapper {
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

p {
  font-size: 13px;
  margin: 10px;
  color: #fff;
  
}

a:visited {
  color:#000;  
}

#menu{
  color: #000; 
  background: #fff;
  
}


@media screen and (max-width: 600px) {

  #wrapper {
    width: 100%;
    margin-left: 50px;
    padding: 20px;
  }
}

