.background {
  width: 100%;
  height: 700px;
}


* {
  box-sizing: border-box;
}

body {
  /* background: #141E30;  
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  
  background: linear-gradient(to right, #243B55, #141E30);  */

  background: url("../img/bcg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

b{
  color: #4189B7 !important;
}


#header {
  
  margin: 0;
  width: auto;
  height: 100vh;
}

#title {
  margin-left: 50px;
  color: #000;;
  font-size: 70px;
  font-family: 'Viga', sans-serif;
  text-align: left;
  padding-top: 100px;
}


#subtitle {
  margin: 50px 50px;
  color: #000;
  text-align: justify;
  /* font-family: Abel, sans-serif; */
  font-family: Raleway, sans-serif;
  line-height: 1.5;
  font-size: 20px;
}

.btn.btn-link.btn-block.btn-lg.d-block.arrow-btn {
  color: #fff;
}


#bottom {
  padding-top: 50px;
  text-align: center;
  color: #000;
}

#about-me {
  background-color: #ffffff;
  height: 100vh;
  padding-top: 100px;
}

#description {
  font-size: 30px;
  position: fixed;
}

#more {
  padding-top: 40px;
}

#abtme-section {
  margin-top: 30px;
}

.column {
  float: left;
  width: 50%;
  height: 100vh;
  padding: 10px;
  }

.row {
  height: 100vh;
}

.row:after {
  content: " ";
  display: table;
  clear: both;
}

/* mobile version */
@media screen and (max-width: 600px) {
body {
  background: url("../img/mobile-version.png");
  background-repeat: no-repeat;
  background-origin: initial;
  background-size: contain; 
  background-color:#f2f2f2;
}


.column  {
  width: 100%;
  margin: 0 auto;
  height: 600px;
  padding: 20px;
  background-color:#f2f2f2;
  }

  #about-me {
    background-color:#f2f2f2;
    height: 100vh;
    padding-top: 50px;

  }
  .read-more {
    width: 100%;
    margin-left: 200px;
    margin-top: -150px;
    text-align: center;
    float: right;
  }
}




#name {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  margin: 0 auto 8px;
  height: 60px;
}

p {
  font-size: 15px;
}


#skill {
  margin-top: 40px;
}

#about-heading {
  margin-top: 50px;
}

#moreabtme {
  margin-top: 150px;
  margin: 50px;
}

#skillss {
  width: 100%;
  height: 100vh;
}


#code {
  text-align: center;
  font-family: Abel, sans-serif;
  font-style: normal;
  font-weight: bold;
}

#lists {
  margin-top: 20px;
  margin-left: 60px;
}

#logo2 {
  width: 100px;
  display: block;
  margin: auto;
}

#navigation {
  background: #fff;
  background-size: auto;
  background-repeat: no-repeat;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}


#container-portfolio {
  margin-top: 50px;
}

#menu{
  color: #000; 
  background: #fff;
  
}

li {
  margin-right: 20px;

}
li:hover {
  border-bottom: 3px solid #000;
}


/* This is for the skills */

#div-skills {
  /* height: auto; */
  /* display: inline-block; */
  /* background: #e4e4e4; */
  padding-top: 10px;
}

#sk {
  font-size: 20px;
  font-family: Raleway;
}
#ul-skills {
  list-style: none;
  margin-top: 0;
}

#li-skills {
  border: 2px solid #000066;
  margin: auto;
  /* height: 20px; */
  padding: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}

/* End for the skills */

#skillsy .stuff {
  margin-top: 40px;
}

.description {
  width: 930px;
  height: 70px;
  padding-top: 20px;
}


#para {
  text-align: justify;
  height: 100px;
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  font-size: 20px;
  line-height: 2;
}


.container #technicalsk {
  max-width: 600px;
}


#aboutme {
  margin: 0 auto;
  height: 100px;
  margin-top: 30px;
  max-width: 300px;
}

.logo {
  width: 100px;
  display: block;
  margin: auto;
}

.list-item {
  text-align: center;
}